.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .seach-width {
    width: 60%;
  }
  .mat-table {
    overflow: auto;
    max-height: 1000px;
  }

  .menu-item{
    margin-left: 1em
  }